*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
  /* nabar bar  */
  .conatainer{
    display: flex;
    background-color: aliceblue;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px 4px lightgrey;
    padding: 10px;
    height: 80px;
    /* justify-content: space-between; */
  }
  .left-conatainer{
    width: 20%;
    
    display: flex;
    justify-content: center;
     
     
  }
  .right-conatainer{ 
       width: 60%;
  }
.logo{
    width: 70px;
}
.list{
  display: flex;
  flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
 margin: 10px 0 0 0;
    
}
 .list-link{
    text-decoration: none;
   
}

.list-item{
  
  
  list-style: none;
  color: rgb(0, 17, 255);  
  font-size:21px;
  font-weight: 600;
  cursor: pointer;
    
}

@media only screen and (max-width: 690px)  {

.left-conatainer{
 background-color: red;
 display: none;
   
   
}

.right-conatainer{ 
  width: 99%;
}


  
}
@media only screen and (max-width: 426px)  {

  .list-item{
  
  

      
    font-size:18px;
    font-weight: 400;
    cursor: pointer;
      
  }
  
  
    
  }

/* api design */
.card-wrap{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  
}
.card-items{
  width: 20rem;
  padding: 7px;
  margin: 20px;
  
}
.card-body > .button{
     border-radius: 4px;
     border: none;
     background-color: #15ff00;
     width:120px;
     height: 32px;
    
     font-size: 20px;
   
     

}
.card-body > .button >.btn{
   text-decoration: none;
   padding: 2px;
   font-weight: 500;
   color: #121212;


}

/* header */

.header-wel{
  height: 260px;
  margin: 7px;
}
.top-item{
  text-align: center;
  margin: -10px;
}


